.title-container {
    background-image: url(/assets/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20% 10%;
    margin: 4% 4%;
    

    h1 {
        font-size: 6vh;
        color: white;
        font-family: @font;
        font-weight: bold;
    }

    button {
        font-family: @font;
        margin: 2% 0;
        padding: 1.5% 5%;
        font-size: 2rem;
        border-radius: 6px;
        text-align: center;
    }
}